<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= link_to(cl_image_tag("shuqxjxrh1vcxlmsex2p31rsybqs",
      width: 400, height: 300, crop: :fill),cl_image_path("shuqxjxrh1vcxlmsex2p31rsybqs") ) %>
hello
