<h1>Importy Controller</h1>


<table class = "table table-hover">
  <thead>
    <tr>
      <th>Iniciats</th>
      <th>Jackson</th>
      <th>Barcelona</th>
    </tr>
  </thead>

  <tbody>
    <% @operacions.each do |operacion| %>
      <% if operacion.estado == 0 %>
        <tr>
          <td><%= operacion.titol %></td>
          <td></td>
          <td></td>
        </tr>
      <% elsif operacion.estado == 1 %>
        <tr>
          <td></td>
          <td><%= operacion.titol %></td>
          <td></td>
        </tr>
      <% elsif operacion.estado == 2 %>
        <tr>
          <td></td>
          <td></td>
          <td><%= operacion.titol %></td>
        </tr>
    <% end %>
  </tbody>
</table>
