.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.sidebar_brand img{
  width: 70px;
}

.nav-item{
  list-style-type: none;
  color: #b7b9cc;
  font-size: 12px;
  text-align: center;

}
