.barra-lateral {
  margin: 0;
  padding: 10px;
  background-color: lightgray;
  overflow: auto;
  position: fixed;
  width: 400px;
  border-radius: 20px;
}

.barra-container{
  height: 100%;
  justify-content: space-between;
  margin: 10px;
}

.lateral-container{
  width: 600px;
}

.sale-card{
  background-color: white;
  margin-top: 20px;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  width: 100%;
}

.sale-card-canvi{
  background-color: white;
  border: solid 5px rgb(177, 177, 177);
  margin-top: 20px;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  width: 100%;
}

.card-container{
  margin: 20px;
  width: 100%;
}

.añadido{
  text-decoration: none;
  color: white;
  background-color: blue;
  font-size: 25px;
  border-radius: 50%;
  border: solid;
  padding-right: 10px;
  padding-left: 10px;
  }

.text_none{
  text-decoration: none;
}

.green{
  color: green;
}
